@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 25px;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 151, 218, 1);
    position: fixed;    
    width: 100%;
    height: 75px;
    top: 0;
    left: 0;
}

.navbar .main_title,
.navbar .nav_items p{
    color: white;
}

.navbar .main_title{
    font-family: 'Quicksand', sans-serif;
    margin-left: 25px;
}

.nav_right{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 250px;
}

.navbar .nav_right .nav_items{
    display: flex;
    margin-top: 20px;
    gap: 10px;
    align-items: center;
}

.navbar .nav_right .nav_items .student_button{
    border-radius: 10px 10px 0 0;
    background-color:  rgb(243,147,35);
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

.navbar .nav_right .nav_items .forum_button{
    border-radius: 10px 10px 0 0;
    background-color:  rgba(0, 151, 218, 1);
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

.navbar .nav_right .nav_items button p{
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 700;
}



.Lecturer_prof{
    display: flex;
    align-items: center;
}


.prof_pic {
    width: 65px;
    height: 65px;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin-right: 30px;
}

.prof_pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.2);
    background-color: darkgray;
}

.main_content{
    padding-top: 80px;
}

.main_content .subject_text_space{
    width: 100%;
    display: flex;
    align-items: center;
}

.main_content .subject_text_space .subject_text{
    margin-left: 30px;
    font-weight: 700;
    font-size:20px;
    text-decoration: none;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
}


.middle_section{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
    height: 50px;
}


.filter_icon button{
    display: flex;
    justify-content: center;
    background-color: rgb(243,147,35);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border:  none;
    margin-right: 10px;
    margin-left: 30px;
    cursor: pointer;
    flex: 1;
}

.filter_icon img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.search_section{
    display: flex;
    margin-right: 20px;
    height: 40px;
    border-radius: 10px;
    background-color: none;
    border-style: none;
    width: 100%
}

.search_section .search_bar{
    flex: 1;
    background-color: lightgray;
    border-style: none;
    outline: none;
}

.search_section .back_arrow button,
.search_section .search_icon button{
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
    background-color: lightgray;
}

.search_section .search_icon button{
    border-radius: 0 10px 10px 0;
}

.search_section .back_arrow button{
    border-radius: 10px 0 0 10px;
}

.search_section .back_arrow img,
.search_section .search_icon img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    align-items: center;
}


.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 25px;
    margin-left: 30px;
    margin-right: 30px;
}

.card-btn {
    aspect-ratio: 1 / 1;
    border-radius: 16px;
    font-size: 42px; 
    font-weight: 700;
    color: #000;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    flex-direction: column;
}

.student_brief_prof {
    background-color: white;
    padding: 10px; 
    margin-top: 15px; 
    width: 80%; 
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
    border-radius: 25px;
}

.student_brief_prof p {
    font-size: 18px;
}



.student_prof{
    width: 150px;
    height: 150px;
}

.card-btn:active {
    transform: scale(0.98);
}


.bg-pink { background-color: #f2dada; }
.bg-peach { background-color: #f8e4cc; }
.bg-yellow { background-color: #fcf6bd; }
.bg-cyan { background-color: #a0e7e5; }
.bg-green { background-color: #b4f8c8; }
.bg-lime { background-color: #dbebc0; }





